.DS_Store
.build/
.swiftpm/
Package.resolved
/.env
/*.xcodeproj
*.orig
*.rej
/build/
/node_modules/
*.log
*~
._*
.svn
.git/
CVS/
.hg/
*.o
*.lo
*.la
*.so
*.dylib
*.a
Thumbs.db
ehthumbs.db
Desktop.ini
.vscode/
.idea/
xcuserdata/
db.sqlite